In [6]:
import pandas as pd
data=pd.DataFrame({'Names':['Mohit','Sushil','Kedar','Roshan'],'Age':[24,24,24,24],})
data

    Names  Age
0   Mohit   24
1  Sushil   24
2   Kedar   24
3  Roshan   24

In [15]:
id=pd.Series([101,102,103,104],index=data)